/* POPPINS FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background: url('Pics/pexels-ahmed-akacha-3313934-10629442.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-y: scroll;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.nav{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    line-height: 100px;
    z-index: 100;
}
.nav-menu ul{
    display: flex;
}   
.nav-menu ul li{
    list-style-type: none;
}
.nav-menu ul li a {
    text-decoration: none;
    font-weight: 900;
    color: #fff;
    padding-bottom: 15px;
    margin: 0 25px;
}
.nav-button{
    display: block;
}
.nav-button .btn{
    width: 130px;
    height: 130px;
    font-weight: 500;
    background: rgba(255, 255, 255, 0.4);
    border: none;
    border-radius: 90px;
    cursor: pointer;
    transition: .3s ease;
}
.btn:hover{
    background: rgba(255, 255, 255, 0.3);
}
.btn.white-btn{
    background: rgba(255, 255, 255, 0.7);
}
.btn.btn.white-btn:hover{
    background: rgba(255, 255, 255, 0.5);
}
.link:hover, .active{
    border-bottom: 2px solid #fff;
}
h1{
    font-size: 2.5rem;
    color: #f8061e;
    text-align: center;
    margin-top: 20px;
}
main{
    font-size: 1.2rem;
    color: #000000;
    margin-top: 20px;
    display: inline-block;
}
main section{
    margin-left: 20px;
}
ol{
    list-style-type: 1;
}

.about-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    margin-top: 200px;
}
.about-section h1{
    font-size: 2.5rem;
    color: #f5f5f5;
    text-align: center;
    margin-top: 20px;
}
.about-section p{
    font-size: 1.2rem;
    color: #fff;
    text-align: center;
    margin-top: 20px;
}

.nav-logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}
.nav-menu-btn {
    display: none;
}


@media only screen and (max-width : 768px) {
    .nav-menu-btn {
        display: block;
        position: absolute;
        right: 20px;
        top: 35px;
        cursor: pointer;
    }

    .nav-menu.responsive {
        top: 100px;
    }

    .nav-menu {
        position: absolute;
        top: -800px;
        display: flex;
        justify-content: center;
        background: rgba(255, 255, 255, 0.2);
        width: 100%;
        height: 90vh;
        backdrop-filter: blur(20px);
        transition: .3s;
    }

    .nav-menu ul {
        flex-direction: column;
        text-align: center;
    }

    .nav-menu-btn i {
        font-size: 25px;
        color: #fff;
        padding: 10px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        cursor: pointer;
        transition: .3s;
    }

    .nav-menu-btn i:hover {
        background: rgba(255, 255, 255, 0.15);
    }
}
@media only screen and (max-width: 2096px) {
    .nav-menu-btn {
        display: block;
        position: absolute;
        right: 20px;
        top: 35px;
        cursor: pointer;
    }

    .nav-menu.responsive {
        top: 100px;
    }

    .nav-menu {
        position: absolute;
        top: -800px;
        display: flex;
        justify-content: center;
        background: rgba(255, 255, 255, 0.2);
        width: 100%;
        height: 90vh;
        backdrop-filter: blur(20px);
        transition: .3s;
    }

    .nav-menu ul {
        flex-direction: column;
        text-align: center;
    }

    .nav-menu-btn i {
        font-size: 25px;
        color: #fff;
        padding: 10px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        cursor: pointer;
        transition: .3s;
    }

    .nav-menu-btn i:hover {
        background: rgba(255, 255, 255, 0.15);
    }
}


/* Footer */
footer {
    position: static;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #333;
    color: #ff0a2b;
    text-align: justify;
    padding: 10px 10px;
}
.footer-content{
    display: contents;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
}
.footer-content p{
    font-size: 1rem;
    font-weight: 500;
    display: flex;
}